/* Box Model Hack */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
h1{
  text-align: center;
}

#slotContainer{
  margin-top: 10rem;
}

.hidden{
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
